 /* Comment */
 /* Background colors */

body {
  background-color: #303030;
  font: 15px verdana;
  margin: 25px 50px;
  color: #FFFAFA
  
}

 /* Allowing card rows */
 .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 370px;
  /*border: 3px solid green; */
}

/* titlecard center & spacing */
 .titlecard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  /*border: 3px solid green;*/
}

/* gallery center & spacing */
 .gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  /*border: 3px solid green;*/
}